$greyNew1: #4e545d;
$greyNew2: #757e8b;
$greyNew3: #9ca8ba;
$greyNew4: #ced4dd;
$greyNew5: #e6e9ee;
$greyNew6: #f5f6f8;
$greyNew7: #fafbfb;

$blue1: #103a56;
$blue2: #175178;
$blue3: #1d689a;
$blue4: #247fbc;
$blue5: #3195d8; // primary
$blue6: #54a7de;
$blue7: #76b8e5;
$blue8: #98caeb;
$blue9: #bbdcf2;
$blue10: #bcdefb;

$active-item-bg-color : #ecf8ff !default;

$sidebar-bg-color: #ffffff !default;
$sidebar-color: #adadad !default;
$sidebar-width: 240px !default;
$sidebar-collapsed-width:  68px !default;
$highlight-color: #ecf8ff !default;
$submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: #ffffff !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$default-text-color : $greyNew3;
$active-text-color : black;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

